.Container {
    display: flex;
    gap: 5px;
    border-radius: 2px;
    align-items: center;
} 

.Container button {
    background-color: #88b3e0;
    height: 100%;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.Container span {
    font-family: Arial, sans-serif;
    font-size: 14px;
}